.client-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    padding: 7px;
    display: flex;
    gap: 100px;
}

.list-clients {
    margin-top: 1rem;
    width: 100%;
    padding: 7px;
    background-color: white;
}

.client {
    border-top: 1px solid #c5c5c5;
}

.client img {
    width: 50px;
}

.client:hover {
    background-color: #c5c5c5;
}

.text {
    display: flex;
    gap: 1rem;
    align-items: center;

}